# This service file requires the following:
#
#   1) Group named caddy:
#       $ groupadd --system caddy
#
#   2) User named caddy, with a writeable home folder:
#       $ useradd --system \
#           --gid caddy \
#           --create-home \
#           --home-dir /var/lib/caddy \
#           --shell /usr/sbin/nologin \
#           --comment "Caddy web server" \
#           caddy
#
#   3) Choose and customize one of the ExecStart
#      commands below, depending on how you will be
#      using Caddy. Those are just templates/ideas
#      that will suit most users. Caddy has a very
#      simple command line interface, and we strongly
#      recommend learning what the options do:
#      https://caddyserver.com/docs/command-line
#

[Unit]
Description=Caddy Web Server
Documentation=https://caddyserver.com/docs/
After=network.target

[Service]
User=caddy
Group=caddy

# Uncomment and customize one of the following options:
#
# A) Caddyfile, no API
# ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/Caddyfile
# ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile
#
# B) JSON config file, no API
# ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/config.json
# ExecReload=/usr/bin/caddy reload --config /etc/caddy/config.json
#
# C) Other config file type, no API
# ExecStart=/usr/bin/caddy run --environ --config /etc/caddy/<file> --adapter <name>
# ExecStart=/usr/bin/caddy reload --config /etc/caddy/<file> --adapter <name>
#
# D) API, no config file
# ExecStart=/usr/bin/caddy run --environ --resume
#
# E) API with Caddyfile for bootstrapping only
# ExecStart=/usr/bin/caddy run --environ --resume --config /etc/caddy/Caddyfile

TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
